<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>会員情報</h2>
      <%= render 'public/end_users/info', end_user: current_end_user %>
      <h2 class="mt-3">新規投稿</h2>
      <%= render 'public/posts/form', post: @post %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>会員一覧</h2>
      <%= render 'public/end_users/index',end_users: @end_users %>
    </div>
  </div>
</div>