<% if @model == 'end_user' %>
	<h3>EndUsers search for "<%= @content %>"</h3>
  <%= render 'end_users/index', end_users: @records %>
<% elsif @model == 'post' %>
	<h3>Posts search for "<%= @content %>"</h3>
  <%= render 'posts/index', posts: @records %>
<% end %>