<div class='container'>
  <div class='row'>
    <h1 class="px-3 mx-auto">Welcome to <i class="fas fa-american-sign-language-interpreting"></i><strong>Bookers</strong>!</h1>
		<h3>About</h3>

	<div class="content">
		<div class="mv">
			<p>
				ようこそBit Supporter へ!<br>
				このサイトは、障害名をオープンにして社会への望むものの発信サイトになります。<br>
				会員でない方も内容は閲覧できますが、<br>
				発信するには会員登録が必要になります。
			</p>
		</div>
	</div>
</div>
</div>
